
/*
=====
COMMON STYLES
=====
*/

@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu|Indie+Flower&display=swap');

:root{
	--dsTypographyHeadingFontFamily: Indie Flower, cursive;
	--dsTypographyHeadingLineHeight: 1.25;

	--fontSize2XL: 42px;
	--fontSizeXL: 32px;
	--fontSizeL: 25px;
	--fontSizeM: 20px;
	--fontSizeS: 17px;
	--fontSizeXS: 16px;
	--fontSize2XS: 13px;

	--purple: #6d47d9;
	--blue: #579ceb;
	--green: #c1f1e3;
	--yellow: #feca57;
	
	--demoContainerPadding: 98px;
	--demoViewportBorderColor: var(--blue);
	--demoBoxBackgroundColor: var(--green);
}

body{
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
	font-size: var(--fontSizeS);
	background-color: #f0f0f0;
}

h1,
h2,
h3,
h4,
h5,
h6{
	margin-top: var(--dsTypographyHeadingMarginTop, 1em);
	margin-bottom: var(--dsTypographyHeadingMarginBottom, .25em);
	line-height: var(--dsTypographyHeadingLineHeight, 1.78);
	font-family: var(--dsTypographyHeadingFontFamily, inherit);
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child{
	--dsTypographyHeadingMarginTop: 0;
}

h1{
	--dsTypographyHeadingMarginBottom: 25px;
	font-size: var(--fontSize2XL);
}

h2{
	--dsTypographyHeadingMarginTop: 45px;
	font-size: var(--fontSizeXL);
}

h3{
	font-size: var(--fontSizeL);
}

p:not([class]),
ul:not([class]),
ol:not([class]){
	line-height: var(--dsTypographyLineHeight, 1.78);
	margin-top: 0;
	margin-bottom: var(--dsTypographyBasicMargin, 1em);
}

p:not([class]):last-child,
ul:not([class]):last-child,
ol:not([class]):last-child{
	margin-bottom: 0;
}

.page{
	width: 680px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}
	
.page__container{
	padding: 50px 40px 30px;
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
	border-top: 5px solid var(--purple);
}

.page__title{
	font-size: var(--fontSize2XL);
}

.page__hints{
	display: grid;
	grid-template-columns: repeat(2, max-content);
	grid-gap: 30px;
	margin-top: 25px;
}

.page__content{
	margin-top: 50px;
}

.page__demos{
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 25px;
}

.page__demos:not(:first-child){
	margin-top: 30px;
}

.page__demos:not(:last-child){
	margin-bottom: 40px;
}

.demo__viewport{
	position: relative;
}

.demo__viewport::after{
	content: "";
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: 2px dashed var(--demoViewportBorderColor);
	position: absolute;
	top: 0;
	left: 0;
}

.demo-box{
	box-sizing: border-box;
	background-color: var(--demoBoxBackgroundColor);
	position: relative;
	text-align: center;

	font-family: 'Baloo Tammudu', cursive;
	font-size: var(--fontSize2XS);
}

.demo-box::after{
	content: attr(data-element-text);
	line-height: 1;
	font-size: var(--fontSize2XS);
	padding-top: .25em;
}

.hint{
	display: flex;
	align-items: center;
	font-size: var(--fontSize2XS);
}

.hint::before{
	content: "";
	box-sizing: border-box;
	width: 80px;
	height: 40px;
	margin-right: 15px;
	flex: none;
}

.hint_container::before{
	border: 2px dashed var(--demoViewportBorderColor);
}

.hint_item::before{
	background-color: var(--demoBoxBackgroundColor);
}

/*
=====
DEMO
=====
*/

.demo-box_setted-margin{
	margin: 10px;
	outline: 10px solid var(--yellow)
}

.demo-box_setted-padding{
	padding: 10px;
	box-shadow: 0 0 0 10px var(--purple) inset;
}

.demo-box_setted-border{
	border: 10px solid var(--blue);
}


.demo__container[data-width-text]{
	margin-top: 20px;
	padding-top: 30px;
	padding-right: var(--demoContainerPadding);
	padding-left: var(--demoContainerPadding);
	position: relative;
}

.demo__container[data-width-text]::before, 
.demo__container[data-height-text]::after{
	font-family: 'Baloo Tammudu', cursive;
	font-size: var(--fontSize2XS);
	position: absolute;
}

.demo__container[data-width-text]::before{
	content: 'Width: 'attr(data-width-text);
	width: calc(100% - var(--demoContainerPadding) * 2);
	top: 0;
	text-align: center;
}

.demo__container[data-height-text]::after{
	content: 'Height: 'attr(data-height-text);
	box-sizing: border-box;
	height: 100%;
	padding-top: 30px;
	
	top: 0;
	left: 0;
	
	display: flex;
	align-items: center;
}
